node_modules/

# Ignore DS_Store
.DS_Store

# Ignore appsettings.json
appsettings.json

# Ignore JSON database
database.json

# Ignore dist directory
/dist/

# Ignore nyc / c8 files
coverage/
instrumented/
.nyc_output/

error.log
combined.log
.env